body {
  background-color: lightgray;
}


 h1, h2, .modalP, .modalH3, .inputDiv, .btnDiv  {
  text-align: center;
}

#colOne {
  background-color: gray;
  border: solid 2px black;
  height:500px;
  padding: 1.5rem;

}

#colTwo {
  background-color: lightblue;
  border: solid 2px black;
  height:500px;
  padding: 1.5rem;
  position: relative;

}
.inputText {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

/*.inputText {
  position: absolute;
  bottom: 1px;*/
  /*right: 20%;*/
  /*margin-left: -50px;*/
}

#inputTextBox {
  width: 400px;
  height: 25px;
}
