body {
  background-color: lightgray;
}


 h1, h2, p, .modalH3, .inputDiv, .btnDiv, #colOne, #colTwo  {
  text-align: center;
}

#colOne {
  background-color: gray;
  border: solid 2px black;
  height:500px;
  padding: 1.5rem;

}

#colTwo {
  background-color: lightblue;
  border: solid 2px black;
  height:500px;
  padding: 1.5rem;

}

.inputText, .messageInputBtn {
  position: absolute;
  bottom: 1px;
  /*right: 20%;*/
  /*margin-left: -50px;*/
}

#inputTextBox {
  width: 400px;
  height: 25px;
}
