
<main>
    <div class="row">
      <div class="col-sm-12">
        <!-- === Top Section === -->
        <section class="top-section container">
          <h1 >Bloc Chat</h1>
          <div class="btnDiv">
            <button ng-controller="UiBootstrapCtrl as uib" ng-click="uib.open()" class="btn btn-primary" type="button" name="button">Add a room</button>
          </div>
        </section>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div class="" id="colOne">
          <h2>Chat Rooms</h2>
          <hr>
          <h3 ng-click="" ng-repeat="rooms in home.chatRooms">{{ rooms.name }}</h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="" id="colTwo">

          <h2>Current Room</h2>
          <hr>
          <h3>Room : {{ home.currentRoom.name }}</h3>
          <hr>
          <h4>User : {{home.currentRoom.username}}</h4>
          <h4>Message: "{{home.currentRoom.content}}"</h4>
        </div>
      </div>
    </div>

</main>
