
<main>
    <div class="row">
      <div class="col-sm-12">
        <!-- === Top Section === -->
        <section class="top-section container">
          <h1 >Bloc Chat</h1>
          <div class="btnDiv">
            <button ng-controller="UiBootstrapCtrl as uib" ng-click="uib.open()" class="btn btn-primary" type="button" name="button">Add a room</button>
          </div>
        </section>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <div class="" id="colOne">
          <h2>Chat Rooms</h2>
          <hr>
          <h3 ng-repeat="room in home.chatRooms"><span ng-click="home.changeRoom(room)">{{ room.name }}</span></h3>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="" id="colTwo">
          <h2>Current Room: {{ home.currentRoom.name }}</h2>
          <hr>
          <p>User Name: {{ userName }}</p>
          <h4 ng-repeat="message in home.messages">Message : "{{message.content}}"</h4>
          <div class="input-group inputText">
          <input id="message" ng-model="home.message" placeholder="type message here" type="text" class="form-control">
            <span class="input-group-btn">
              <button ng-click="home.send(message)" class="btn btn-success" type="button">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
</main>
